@font-face {
    font-family: iransans;
    src: url(../../font/IRANSansWeb_Medium.woff2);
}

body {
    font-family: iransans;
    direction: rtl;
    margin: 0;
    padding: 0;
}

.conteyner {
    width: 100%;
    height: 1640px;
    display: flex;
}

.menu-section {
    width: 2.5%;
}

.menu {
    background-image: linear-gradient(to top, #425365, #1F2935);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_item-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.name-Company {
    display: flex;
    color: #fff;
    font-size: 20px;
    margin-right: 6px;
}

.menu_item-conteyner {
    width: 100%;
    height: 480px;
    margin-top: 1rem;
}

#BtnSizeMenu {
    margin-left: 12px;
    margin-top: 5px;
}

.closemenu {
    margin-left: auto !important;
    margin-right: auto !important;
}

.menu-items {
    height: 60px;
    font-size: 16px;
    margin-right: 10px;
}

.menu-items a {
    color: #fff;
    text-decoration: none;

}

.hidden {
    display: none !important;
}

.main-section {
    width: 97.5%;
}

/* header */
header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.rightBox {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 25px;
}

.profile {
    position: relative;
    margin-right: 20px;
    width: 46px;
    height: 46px;
}

.userimag {
    border-radius: 5px;
}

.statusUser {
    position: absolute;
    top: -7px;
    left: -7px;
}

.line {
    width: 2px;
    height: 20px;
    background-color: #D8D8D8;
}

.notifBox {
    display: flex;
    width: 110px;
    justify-content: space-around;
    align-items: center;
}

/* .notifIcon {}

.mailIcon {} */

.serachBox input {
    width: 260px;
    height: 40px;
    font-size: 14px;
    margin-left: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #EDF4FB;
    font-family: iransans;
}

.leftBox {
    width: 310px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.velcomeText {
    font-size: 16px;
    color: #8291A9;
}

/* header End */
main {
    background-color: #DBE7EE;
    width: 100%;
    height: 1640px;
    padding: 30px;
}

.topBox {
    height: 560px;
}

.box_oneTwo-conteyner {
    width: 665px;
    height: 560px;
}

.topOne {
    width: 664px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.oneItem {
    background-image: linear-gradient(to left,#FF3D57,#FF8A48);
}

.twoItem {
    background-image: linear-gradient(to left,#09B66D,#22CCE2);
}

.treeItem{
    background-image: linear-gradient(to left,#0081FF,#22CCE2);
}

.oneItem,
.twoItem,
.treeItem {
    width: 200px;
    height: 120px;
    color: #fff;
    border-radius: 6px;
}

.col-conteyner {
    display: flex;
    justify-content: space-around;
}

.leftCol p {
    margin: 5px 0;
}

.bottomtxt {
    margin-top: 10px !important;
    margin-bottom: 32px !important;
}

.rightCol {
    height: 45px;
    margin-top: 15px;
}

.backgroundBox {
}

.topTwo {}

.headerChart {}

.contentChart {}

.toptree {}

.Status-Chart {}